<h1> 자유게시판 | <%= link_to "건의함", suggestions_path %> | <%= link_to "공지사항", announces_path %></h1>
<h2><%= link_to "글쓰기", new_post_path %></h2>


<% @post.each do |post| %>
<div class='well'>
    제목 : <%= post.title %> <br>
    내용 : <%= post.content %> <br>
    <%= link_to "보기", post_path(post) %> | <%= link_to "수정", edit_post_path(post) %> | <a href="/destroy/<%= post.id %>"> 삭제</a>
</div>    
<% end %>

